/* 404 Page Styles */
.error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
  text-align: center;
}
.error-code {
  font-size: 6rem;
  font-weight: bold;
  color: #dc3545; /* red */
  margin-bottom: 10px;
}
.error-title {
  font-size: 2rem;
  margin-bottom: 10px;
}
.error-message {
  font-size: 1.1rem;
  color: #555;
  margin-bottom: 20px;
}
.error-btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1rem;
  background-color: #007bff;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.3s;
}
.error-btn:hover {
  background-color: #0056b3;
}

.error-500 {
  color: #ff9800;

}
.error-401 {
  color:#007bff
}

.error-503{
  color:aqua
}
.error-400{
  color:#dc3545
}
.error-408{
  color:blueviolet
}

.error-429{
  color:cornflowerblue
}

.error-502{
  color:#007bff
}
.error-504{
  color:#007bff
}
.error-510{
  color:#007bff
}

.error-409{
  color:#555
}