<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}FTP Server{% endblock %}</title>

    <!-- Main stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.30.0/themes/prism.min.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.30.0/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.30.0/components/prism-python.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.30.0/components/prism-javascript.min.js"></script>
    <!-- Add more languages if you want -->
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div class="page-wrapper">
      <header class="site-header">
        <div class="logo-title">
          <img src="/static/icons/funny_fish.png" alt="FTP Server Logo" class="site-logo">
          <h1 class="site-title">Opabinia</h1>
        </div>
      </header>

      <main class="content">
        {% block content %}{% endblock %}
      </main>

      <footer class="site-footer">
        <p>&copy; Made by Dinosaurs </p>
      </footer>
    </div>
  </body>
</html>
